<div class="d-flex flex-row-reverse">
  <button class="btn btn-primary m-1 btn-sm" (click)="openPopup()">Upload</button>
  <button class="btn btn-primary m-1">Refresh</button>
</div>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-body">
        <form class="formGroup">
          <div class="form-control m-1">
            <label for="description"> Add Description : </label>
            <input type="text" id="description" name="description" [(ngModel)]="description">
          </div>
          <div class="form-control m-1">
            <label for="description"> Add File: </label>
            <input type="file" id="myFile" name="filename" (change)="handleFileInput($event.target.files)">
          </div>
          <div class="d-flex justify-content-between">
            <button class="btn btn-primary" (click)="upload()">
              <i class="fas fa-upload"></i> Upload
            </button>
            <button type="button" class="btn btn-danger" (click)="closePopup()">
              Close
            </button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
<div class="card m-3">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Hash</th>
        <th scope="col">Description</th>
        <th scope="col">Size</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>

</div>